{{messages}}
<h1>Add exchange</h1>

<form action="" method="post">
    <fieldset>
        <legend>Currencies</legend>
        {{#if currencies}}
            {{#each currencies as |currency|}}
                <label>{{currency.name}}
                    <input type="text" name="{{currency.symbol}}[sell]" placeholder="{{currency.symbol}}-sell" value="">
                    <input type="text" name="{{currency.symbol}}[buy]" placeholder="{{currency.symbol}}-buy" value="">
                </label><br/>
            {{/each}}
        {{/if}}
    </fieldset>

    <input type="submit" value="ADD EXCHANGE" class="btn btn-primary btn-block">
</form>
