<a href="/admin/category/add">Add Category</a>

{{#if categories}}
    {{#each categories as |category|}}
        <li>{{category.name}}
            <form method="GET" action='/admin/category/{{category._id}}'><input type="submit" value="View"></form>
            <!--<form method="post" action='{{category._id}}'><input type="submit" value="edit"></form>-->
            <form method="post" action='/admin/category/{{category._id}}'><input type="submit" value="delete"></form>
        </li>
    {{/each}}
{{else}}
    No Categories
{{/if}}

